## latex:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.synctex.gz

## c++ objects:
*.hpp.gch
*.o

## execution files:
bin
citylord
citylordserver
citylordgui
testexe
## tmp files:
*~
src/resources/tmp
##
src/client/gui/gui.pro.user
src/client/gui/makefile
src/client/gui/Makefile

