## latex:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.pdf
*.synctex.gz

## c++ objects:
*.hpp.gch
*.o

## execution files:
bin
citylord
citylordserver
citylordgui
client
server
gui
testexe
## tmp files:
*~
src/resources/tmp

